* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    background: transparent;
    border: transparent;

}

.button {}

<<<<<<< Updated upstream
.container__header {
=======




.container {
>>>>>>> Stashed changes
    max-width: 340px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;

    @include md {
        max-width: 788px;
        min-width: 768px;
        padding: 0 10px;
    }
<<<<<<< Updated upstream
}

//.container {
//    min-width: 1200px;
//    margin: 0 auto;
//}

=======

    @include lg {
        max-width: 1220px;
        min-width: 1200px;


    }
}
>>>>>>> Stashed changes
