// MAIN
.hero {
    background: url('../../images/hero.jpeg');
    padding: 49px 0 416px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    // .hero__wrapper
    &__wrapper {}

    // .hero__title

    &__title {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 19px;
    }

    // .hero__subtitle

    &__subtitle {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 24px;
        color: $accent;
        max-width: 270px;
        margin: 0 auto 14px auto;
    }

    // .hero__additional

    &__additional {
        font-size: 14px;
        line-height: 14px;
        color: $ui-black-200;
        text-transform: uppercase;
    }
}


// MAIN END